@font-face {
    font-family: "Gotham";
    src: url(./font/Gotham-Medium.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gotham";
    src: url(./font/Gotham-Ultra.otf);
    font-style: normal;
    font-weight: 550;
}
@font-face {
    font-family: "Gotham-narrow";
    src: url(./font/GothamNarrow-Book.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gotham-narrow";
    src: url(./font/GothamNarrow-Black.otf);
    font-style: bold;
    font-weight: bold;
}
body{
    margin: 0; font-family: gotham-narrow; text-align: center;
}
.header{
    width: 100%; height: 60px; background-color: rgb(255, 185, 55); padding: 20px 0px; text-align: left;
}
.navbar ul li{
    text-decoration: none; font-size: 18px; margin: 0px 10px; display: inline-block; color: white; text-transform: uppercase; letter-spacing: 0.5px;
}
.navbar ul li:hover{
    color: black; cursor: pointer;
}
.logout{
    float: right; margin-right: 30px;
}
.logout ul li{
    text-decoration: none; font-size: 18px; margin: 0px 10px; display: inline-block; color: white; text-transform: uppercase; letter-spacing: 0.5px; 
}
.logout ul li:hover{
    color: black; cursor: pointer;
}
.title h1{ 
    margin-top: 50px; font-size: 50px; font-family: gotham; font-weight: normal; margin-bottom: 50px;
}
#login, #register, #add-todo, #edit-todo{
    border-radius: 30px; border: 3px solid rgb(255, 185, 55); margin: 30px auto; width: 400px; height: auto; padding: 30px 10px; text-align: center;
}
input{
    width: 230px; height: 30px; border-radius: 10px; margin: 10px 4px; font-size: 13px; padding: 0px 10px;
}
button{
    width: 100px; height: 30px; background-color: rgb(255, 185, 55); color: white; border-radius: 10px; font-size: 13px; margin-top: 20px;
}
td, th{
    padding: 10px 20px
}
.container{
    width: 60%; height: auto; border: 4px solid rgb(255, 185, 55); border-radius: 20px; margin: 30px auto; text-align: left; padding: 20px 40px; 
    display: flex;  flex-direction: column;
}
.container .content{
    display: flex; flex-direction: row;
}
.container h3{
    font-size: 25px; margin-top: 0; margin-bottom: 2px; width: 300px;
}
.container p{
    font-size: 17px; margin-top: 0; color: grey; margin-bottom: 20px;
}
.action{
    padding-left: 10px; text-align: right; float: right; width: 50%;
}
select{
    width: 120px; height: 25px; font-size: 12px;
}
.todos{
    margin-top: 50px;
}
h2{
    font-size: 35px;
}
.cancel{
    background-color: red; color: white;
}
.error{
    border: 2px solid red
}
#button-add-todo{
    width: 120px; height: 40px; font-size: 15px;
}

