body {
  size: fixed;
  min-width: 1024px;
  min-height: 576px;

}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(3, 98, 107);
    /* width: 100%;
    height : 100% */
}
  
li {
    float: left;
    color: white;
    font-family: "Lato";
    font-weight: 400;
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}
  

h1  {
    padding-top: 30px;
    font-family: "Lato";
    font-weight: 300;
    text-align: center;

}

h3  {
    padding-top: 30px;
    font-family: "Lato";
    font-weight: 300;
    text-align: center;

}

#signInForm {
    text-align: center;
    font-family: "Lato";
}

#signUpForm {
    text-align: center;
    font-family: "Lato";
}


#addTodo {
  text-align: center;
  font-family: "Lato";
}

#editTodo{
  text-align: center;
  font-family: "Lato";
}

.submit {
    background-color: rgb(251, 182, 22); /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Lato";
}

.deletesubmit {
  background-color: rgb(219, 66, 66); /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Lato";
}

.editsubmit {
  background-color: rgb(20, 126, 126); /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Lato";
}

.g-signin2{
  text-align: center;
}

#TodoTable {
  width: 90%;
  text-align: center;
  margin-top: 50px;
  font-family: "Lato";
  font-weight: 300;
  margin: 10px auto;
  padding-top: 30px;
}

#TodoList {
  text-align : center;
  padding-top: 30px;
}

#getQuotes{
  text-align : center;
  font-family: "Kalam";
  padding-top: 50px;
  font-size : 18px;

}

.select-style {
  border: 1px solid rgb(32, 32, 32);
  width: 190px;
  border-radius: 3px;
  padding : 10px;
  overflow: hidden;
  background: #ffffff no-repeat 90% 50%;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

